body{ 
	background-color: rgb(255, 255, 255);
	height: 30px;
	width: 50px;
	border: #d1ff52;
	height: 30 px;
	font-size: x-large;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p1{ 
	height: 10;
}

button {
	color: #ffffff;
	background-color: #ff529a;
	border: 1px solid #ffffff;
	border-radius: 4px;
	padding: 0 15px;
	cursor: pointer;
	height: 32px;
	font-size: 14px;
	transition: all 0.2s ease-in-out;
  }
  button:hover {
	transform: scale(1.1);
  }